<template>
    <div class="carousel" view-type="recycle" view-id="carousel">
        <div class="big_picture"><img view-id="big_picture"></div>
    </div>

    <div class="point_list_bg"></div>
    <div class="point_list" view-type="recycle" view-left="none" view-id="point_list">
        <div class="item" view-type="item">
        </div>
    </div>

    <div class="title" style="top: 461px;">
        <div class="txt">VIP·热播</div>
    </div>
    <div class="order_bg"><img src="../../../images/list/list_recommend_fragment/order_bg.png" alt=""></div>
    <div class="order">
        <div class="item" view-type="item" view-id="order">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/order.png" alt=""></div>
        </div>
    </div>

    <div class="r_288x162" view-type="recycle" view-left="none" view-right="none" view-id="history">
        <div class="item" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img view-id="pic"></div>
            <div class="txt" view-id="txt"></div>
            <div class="info" view-id="info"></div>
        </div>
    </div>

    <div class="back_top">
        <div class="item" view-type="item" view-id="back_top">按确认键，回到顶部</div>
    </div>
</template>