<template>
    <div class="carousel" view-type="recycle" view-id="carousel">
        <div class="big_picture"><img view-id="big_picture"></div>
    </div>

    <div class="point_list_bg"></div>
    <div class="point_list" view-type="recycle" view-left="none" view-id="point_list">
        <div class="item" view-type="item">
        </div>
    </div>

    <div class="order_bg"><img src="../../../images/list/list_recommend_fragment/order_bg.png" alt=""></div>
    <div class="order">
        <div class="item" view-type="item" view-id="order">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/order.png" alt=""></div>
        </div>
    </div>

    <div class="title" style="top: 458px;">
        <div class="txt">VIP·热播</div>
    </div>

    <div class="r_300x170" style="top: 492px;height: 480px;" view-type="recycle" view-left="none" view-right="none" view-id="hot">
        <div class="item" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img view-id="pic"></div>
            <div class="txt" view-id="txt"></div>
            <div class="info" view-id="info"></div>
        </div>
    </div>

    <div class="title" style="top: 970px;">
        <div class="txt">VIP·精选卡通动漫</div>
    </div>

    <div class="r_290x405" style="top: 1002px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_0.png"></div>
            <div class="txt" view-id="txt">精灵梦叶罗丽X冰莲花</div>
            <div class="info" view-id="info">叶罗丽系列收不番外篇</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_1.png"></div>
            <div class="txt" view-id="txt">熊出没·重返地球</div>
            <div class="info" view-id="info">外星人 阿布造访狗熊岭</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_2.png"></div>
            <div class="txt" view-id="txt">星河万里不如你</div>
            <div class="info" view-id="info">反套路 王妃异世界冒险</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_3.png"></div>
            <div class="txt" view-id="txt">汪汪队立大功 第8季</div>
            <div class="info" view-id="info">狗狗救援队最新季萌趣热播中</div>
        </div>
    </div>

    <div class="r_290x405" style="top: 1467px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_4.png"></div>
            <div class="txt" view-id="txt">团宠公主萌萌哒</div>
            <div class="info" view-id="info">读心公主玩转皇宫</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_5.png"></div>
            <div class="txt" view-id="txt">巴啦啦小魔仙之魔法星缘堡</div>
            <div class="info" view-id="info">魔法星势力华丽登场</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_6.png"></div>
            <div class="txt" view-id="txt">山神与小枣</div>
            <div class="info" view-id="info">厄运少女与山神的情缘</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_7.png"></div>
            <div class="txt" view-id="txt">我从诸天万界归来</div>
            <div class="info" view-id="info">超燃！国风玄幻武侠大作！</div>
        </div>
    </div>

    <div class="r_290x405" style="top: 1931px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_8.png"></div>
            <div class="txt" view-id="txt">精灵梦叶罗丽X冰莲花</div>
            <div class="info" view-id="info">叶罗丽系列收不番外篇</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_9.png"></div>
            <div class="txt" view-id="txt">精灵梦叶罗丽X冰莲花</div>
            <div class="info" view-id="info">叶罗丽系列收不番外篇</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_10.png"></div>
            <div class="txt" view-id="txt">精灵梦叶罗丽X冰莲花</div>
            <div class="info" view-id="info">叶罗丽系列收不番外篇</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_11.png"></div>
            <div class="txt" view-id="txt">精灵梦叶罗丽X冰莲花</div>
            <div class="info" view-id="info">叶罗丽系列收不番外篇</div>
        </div>
    </div>

    <div class="title" style="top: 2414px;">
        <div class="txt">VIP·最新电影</div>
    </div>

    <div class="r_290x405" style="top: 2448px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_12.png"></div>
            <div class="txt" view-id="txt">暗恋·橘生淮南</div>
            <div class="info" view-id="info">洛枳盛淮南十年暗恋离合悲欢</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_13.png"></div>
            <div class="txt" view-id="txt">我是真的讨厌异地恋</div>
            <div class="info" view-id="info">任敏辛云异地相恋备受煎熬</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_14.png"></div>
            <div class="txt" view-id="txt">边缘行者</div>
            <div class="info" view-id="info">我弟警察揭露哦景甜权利阴谋</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_15.png"></div>
            <div class="txt" view-id="txt">青面修罗</div>
            <div class="info" view-id="info">宝藏现世！冯绍峰寻找灭门真想</div>
        </div>
    </div>

    <div class="r_290x405" style="top: 2913px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_16.png"></div>
            <div class="txt" view-id="txt">长津湖之水门桥</div>
            <div class="info" view-id="info">原班人马集结！史上最难一站</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_17.png"></div>
            <div class="txt" view-id="txt">我和我的家乡</div>
            <div class="info" view-id="info">黄渤徐峥领衔 超强喜剧盛宴</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_18.png"></div>
            <div class="txt" view-id="txt">我和我的父辈</div>
            <div class="info" view-id="info">三部曲终章 沈腾马丽再合作！</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_19.png"></div>
            <div class="txt" view-id="txt">误杀2</div>
            <div class="info" view-id="info">绝望父亲肖央铤而走险对抗权贵</div>
        </div>
    </div>

    <div class="title" style="top: 3394px;">
        <div class="txt">特工综艺衍生趴</div>
    </div>

    <div class="r_290x405" style="top: 3428px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_20.png"></div>
            <div class="txt" view-id="txt">向往的生活4 会员Plus版</div>
            <div class="info" view-id="info">《向往4》 超多独家未播内容</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_21.png"></div>
            <div class="txt" view-id="txt">明星大侦探之侦探学院2</div>
            <div class="info" view-id="info">学霸少年实景推理真人秀</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_22.png"></div>
            <div class="txt" view-id="txt">天天兄弟 营业中</div>
            <div class="info" view-id="info">揭秘天天兄弟的欢乐日常</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_23.png"></div>
            <div class="txt" view-id="txt">快本超时营业中2</div>
            <div class="info" view-id="info">《快乐大本营》定制衍生节目</div>
        </div>
    </div>

    <div class="r_290x405" style="top: 3893px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_24.png"></div>
            <div class="txt" view-id="txt">朋友请挺好 会员Plus版</div>
            <div class="info" view-id="info">千玺回顾名场面</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_25.png"></div>
            <div class="txt" view-id="txt">我们的乐队 纯享版</div>
            <div class="info" view-id="info">快来PICK你喜欢的乐队</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_26.png"></div>
            <div class="txt" view-id="txt">婚前21天 会员Plus版</div>
            <div class="info" view-id="info">吴尊丽吟默契考验</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_27.png"></div>
            <div class="txt" view-id="txt">周游记 会员升级版</div>
            <div class="info" view-id="info">和周杰伦一起周游世界</div>
        </div>
    </div>

    <div class="title" style="top: 4378px;">
        <div class="txt">好剧精华打包看</div>
    </div>

    <div class="r_290x405" style="top: 4412px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_28.png"></div>
            <div class="txt" view-id="txt">韫色·韫北夫妇100%甜度版</div>
            <div class="info" view-id="info">全甜无虐每一秒</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_29.png"></div>
            <div class="txt" view-id="txt">天醒之路·平步秦云CP版</div>
            <div class="info" view-id="info">路平秦桑成欢喜冤家</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_30.png"></div>
            <div class="txt" view-id="txt">楼下女友·绯闻夫妇甜爱版</div>
            <div class="info" view-id="info">合约女友徐好巧闯叶宅</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_31.png"></div>
            <div class="txt" view-id="txt">时光·怦然心动</div>
            <div class="info" view-id="info">吕小鱼、孙泽源甜蜜爱恋</div>
        </div>
    </div>

    <div class="r_290x405" style="top: 4874px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_32.png"></div>
            <div class="txt" view-id="txt">忘记你·山芋CP版</div>
            <div class="info" view-id="info">高能还原玛丽苏剧情</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_33.png"></div>
            <div class="txt" view-id="txt">身为一个胖子·E升CP版</div>
            <div class="info" view-id="info">胖友E升一起走</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_34.png"></div>
            <div class="txt" view-id="txt">锦衣之下·一下CP版</div>
            <div class="info" view-id="info">袁今夏撒泼打滚求带走</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_35.png"></div>
            <div class="txt" view-id="txt">下一站·贺灿阳塌房记</div>
            <div class="info" view-id="info">助攻小能手房子塌了</div>
        </div>
    </div>

    <div class="title" style="top: 5356px;">
        <div class="txt">VIP·精品网大</div>
    </div>

    <div class="r_290x405" style="top: 5390px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_36.png"></div>
            <div class="txt" view-id="txt">青春的牙</div>
            <div class="info" view-id="info">崔绍涵鲍天琦高甜追爱</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_37.png"></div>
            <div class="txt" view-id="txt">八戒降魔2万妖之王</div>
            <div class="info" view-id="info">唐马儒罗家英击败万妖之王</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_38.png"></div>
            <div class="txt" view-id="txt">仙猫传</div>
            <div class="info" view-id="info">貌美绝代小仙猫逃捕记</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_39.png"></div>
            <div class="txt" view-id="txt">太子殿下小淘气</div>
            <div class="info" view-id="info">冯芷墨化身小凤凰俘获太子心</div>
        </div>
    </div>

    <div class="title" style="top: 5874px;">
        <div class="txt">为你精选的热门好剧</div>
    </div>

    <div class="r_290x405" style="top: 5905px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_40.png"></div>
            <div class="txt" view-id="txt">天醒之路</div>
            <div class="info" view-id="info">陈飞宇熊梓淇组队热血开团</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_41.png"></div>
            <div class="txt" view-id="txt">楼下女友请签收</div>
            <div class="info" view-id="info">傲娇总裁套路追妻</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_42.png"></div>
            <div class="txt" view-id="txt">时光与你都很甜</div>
            <div class="info" view-id="info">林星辰与陆一白奇妙组合</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_43.png"></div>
            <div class="txt" view-id="txt">拜托，请你爱我</div>
            <div class="info" view-id="info">易涵裴呦呦 公开恋爱</div>
        </div>
    </div>

    <div class="r_290x405" style="top: 6369px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_44.png"></div>
            <div class="txt" view-id="txt">少年长安星</div>
            <div class="info" view-id="info">王玉文开启厨娘报恩记</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_45.png"></div>
            <div class="txt" view-id="txt">锦衣之下</div>
            <div class="info" view-id="info">任嘉伦谭松韵演绎江湖情仇</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_46.png"></div>
            <div class="txt" view-id="txt">下一站是幸福</div>
            <div class="info" view-id="info">资深少女恋上年下男</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_47.png"></div>
            <div class="txt" view-id="txt">一夜新娘</div>
            <div class="info" view-id="info">海盗王和侠女之间的高糖爱情</div>
        </div>
    </div>

    <div class="title" style="top: 6854px;">
        <div class="txt">动作时刻 精彩酷炫</div>
    </div>

    <div class="r_290x405" style="top: 6884px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_48.png"></div>
            <div class="txt" view-id="txt">邪不压正</div>
            <div class="info" view-id="info">彭于晏荷尔蒙爆棚狂秀肌肉</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_49.png"></div>
            <div class="txt" view-id="txt">英雄本色2018</div>
            <div class="info" view-id="info">王凯马天宇王大陆演绎生死兄弟</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_50.png"></div>
            <div class="txt" view-id="txt">巨额来电</div>
            <div class="info" view-id="info">陈学冬蒋梦婕联手破暴力骗局</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_51.png"></div>
            <div class="txt" view-id="txt">谜巢</div>
            <div class="info" view-id="info">暴走姐弟李冰冰吴尊狂虐怪</div>
        </div>
    </div>

    <div class="title" style="top: 7368px;">
        <div class="txt">疯狂动画 奇妙历险</div>
    </div>

    <div class="r_290x405" style="top: 7404px;height: 460px;" view-type="group">
        <div class="item" style="left: 22px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_52.png"></div>
            <div class="txt" view-id="txt">派乐萌奇2</div>
            <div class="info" view-id="info">有爱的萌星系外星人来了</div>
        </div>
        <div class="item" style="left: 335px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_53.png"></div>
            <div class="txt" view-id="txt">喜羊羊与灰太狼之奇趣外星客</div>
            <div class="info" view-id="info">萌妹冰羊羊已上线</div>
        </div>
        <div class="item" style="left: 650px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_54.png"></div>
            <div class="txt" view-id="txt">熊熊乐园3</div>
            <div class="info" view-id="info">小小熊大熊二欢乐多</div>
        </div>
        <div class="item" style="left: 964px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../../images/list/list_recommend_fragment/post_55.png"></div>
            <div class="txt" view-id="txt">百变马丁 第六季</div>
            <div class="info" view-id="info">每天一段奇幻之旅</div>
        </div>
    </div>

    <div class="back_top" style="top: 7881px;">
        <div class="item" view-type="item" view-id="back_top">按确认键，回到顶部</div>
    </div>
</template>