.carousel,
.carousel .big_picture,
.carousel .big_picture img{
    width: 1280px;
    height: 490px;
    overflow: hidden;
}

.carousel .big_picture img{
    border-radius: 0px;
}


.point_list {
    width: 181px;
    height: 12px;
    left: 570px;
    top: 466px;
    overflow: hidden;
}

.point_list_bg{
    width: 190px;
    height: 26px;
    left: 561px;
    top: 459px;
    background: #303030;
    border-radius: 10px;
    opacity: 0.7;
}

.point_list .item{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: white;
}

.point_list .item_focus{
    background: #ee682a;
}

.title{
    width: 1000px;
    height: 31px;
    left: 25px;
}

.title .icon img{
    width: 31px;
    height: 31px;
}

.title .txt{
    height: 31px;
    white-space: nowrap;
    line-height: 31px;
    font-size: 20px;
}

.item_focus {
    /*-webkit-transform: scale(1.05);*/
}

.focus{
    border:white 3px solid;
}

.pic{
    left: 3px;
    top: 3px;
}

.pic img{
    border-radius: 0px;
}

.txt{
    width: 288px;
    height: 14px;
    left: 3px;
    line-height: 14px;
    font-size: 13px;
    color: white;
}

.info{
    width: 288px;
    height: 12px;
    left: 3px;
    line-height: 12px;
    font-size: 12px;
    color: #656566;
}

.history{
    width: 1238px;
    height: 215px;
    left: 22px;
    top: 547px;
    overflow: hidden;
}

.history .item{
    width: 294px;
    height: 208px;
}

.history .focus,
.history .pic img{
    width: 288px;
    height: 162px;
    border-radius: 0px;
}

.history .txt{
    top: 175px;
}

.history .info{
    top: 196px;
}

.season_hot{
    width: 1280px;
    height: 490px;
    top: 786px;
    overflow: hidden;
}

.season_hot .item{
    width: 306px;
    height: 220px;
}

.season_hot .focus,
.season_hot .pic img{
    width: 300px;
    height: 170px;
}

.season_hot .item .txt{
    top: 182px;
    white-space: nowrap;
    overflow: hidden;
}

.season_hot .item .info{
    top: 203px;
}

.ace_program{
    width: 1280px;
    height: 420px;
    top: 1304px;
}

.ace_program .item{
    width: 242px;
    height: 335px;
}

.ace_program .focus,
.ace_program .pic img{
    width: 236px;
    height: 329px;
}

.ace_program .item .txt{
    top: 341px;
}

.ace_program .item .info{
    top: 362px;
}

.coming_soon_line{
    width: 1280px;
    height: 1px;
    top: 3115px;
    background: #eb692c;
    z-index: 1;
}

.coming_soon{
    width: 1248px;
    height: 380px;
    top: 3083px;
    /*overflow: hidden;*/
    left: 16px;
}

.coming_soon .time{
    width: 171px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    text-align: center;
}

.coming_soon .point{
    width: 7px;
    height: 7px;
    border-radius: 4px;
    top: 29px;
    left: 82px;
    background: #eb692c;
}

.coming_soon .poster .item{
    width: 171px;
    height: 246px;
    top: 48px;

}

.coming_soon .poster .focus,
.coming_soon .poster img{
    width: 165px;
    height: 240px;
}

.coming_soon .poster .txt{
    width: 171px;
    top: 260px;
    text-align: center;
}

.coming_soon .button .item{
    width: 171px;
    height: 40px;
    top: 333px;
}

.coming_soon .button .pic img,
.coming_soon .button .focus{
    width: 80px;
    height: 34px;
    left: 43px;
}

.coming_soon .button .focus{
    border-radius: 19px;
}

.big_poster{
    width: 1258px;
    height: 720px;
    left: 22px;
    top: 4256px;
    overflow: hidden;
}

.big_poster .poster{
    width: 618px;
    height: 450px;
}

.big_poster .poster .item{
    width: 618px;
    height: 440px;
}

.big_poster .poster .focus,
.big_poster .poster .pic img{
    width: 612px;
    height: 345px;
}

.big_poster .poster .txt{
    top: 372px;
    left: 73px;
    overflow: hidden;
    white-space: nowrap;
}

.big_poster .poster .info{
    top: 411px;
    left: 73px;
}

.big_poster .button{
    top: 359px;
}

.big_poster .button .item{
    width: 618px;
    height: 85px;
}

.big_poster .button .small_poster img{
    width: 61px;
    height: 85px;
    border-radius: 0px;
}

.big_poster .button .pic img,
.big_poster .button .focus{
    width: 87px;
    height: 34px;
    left: 500px;
    top: 26px;
}

.big_poster .button .focus{
    border-radius: 19px;
}

.back_top{
    top: 4996px;
}

.back_top .item{
    width: 1280px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    color: #606060;
}

.back_top .item_focus{
    color: #eb692c;
}