.focus{
    border:white 3px solid;
}

.pic{
    left: 3px;
    top: 3px;
}

.pic img{
    border-radius: 0px;
}

.txt{
    width: 288px;
    height: 14px;
    left: 3px;
    line-height: 14px;
    font-size: 13px;
    color: white;
}

.info{
    width: 288px;
    height: 12px;
    left: 3px;
    line-height: 12px;
    font-size: 12px;
    color: #656566;
}

.small_video{
    left: 16px;
    width: 773px;
    height: 426px;
}

.small_video .item{
    width: 773px;
    height: 426px;
}

.small_video .focus,
.small_video .pic img{
    top: 16px;
    width: 767px;
    height: 420px;
}

.left{
    width: 789px;
    height: 280px;
    top: 440px;
    overflow: hidden;
}

.order{
    width: 767px;
    height: 100px;
    left: 19px;
}

.order .item,
.order .order_bg img{
    width: 767px;
    height: 100px;
}

.order .focus{
    width: 80px;
    height:34px;
    top:30px;
    border-radius: 19px;
    left: 662px;
}
.order .pic{
    left: 665px;
    top: 23px;
}

.order .pic img{
    width: 80px;
    height:44px
}

.content_name{
    top: 118px;
    left: 38px;
}

.content_name .icon{
    width: 25px;
    height: 14px;
    top: 2px;
    border:#eb692c 1px solid;
    color: #eb692c;
    font-size: 12px;
    border-radius: 2px;
    line-height: 14px;
}

.content_name .name{
    width: 500px;
    height: 18px;
    left: 30px;
    font-size: 18px;
    line-height: 18px;
}

.content_name .info{
    width: 500px;
    height: 14px;
    top: 35px;
    font-size: 14px;
    line-height: 14px;
}

.button{
    width: 767px;
    height: 91px;
    top: 100px;
    left: 19px;
}

.button .item,
.button .focus,
.button .focus img,
.button .pic,
.button .pic img{
    width: 23px;
    height: 20px;
}

.button .item{
    top: 53px;
}

.button .pic,
.button .focus{
    top:0px;
    left: 0px;
    border:none;
}

.button .item_focus .pic{
    display: none;
}

.line{
    left: 16px;
    width: 773px;
    height: 1px;
    background: gray;
}

.title{
    width: 500px;
    height: 16px;
    left: 38px;
    font-size: 16px;
    line-height: 16px;
}

.highlight{
    width: 754px;
    height: 140px;
    left: 35px;
    top: 247px;
}

.highlight .item{
    width: 138px;
    height: 130px;
}

.highlight .focus,
.highlight .pic img{
    width: 132px;
    height: 76px;
}

.highlight .playing{
    width: 80px;
    height: 26px;
    left: 28px;
    top: 27px;
    border:white 1px solid;
    background: #eb692c;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    border-radius: 7px;
    display: none;
}

.highlight .txt{
    width: 132px;
    height: 14px;
    left: 3px;
    top: 88px;
    overflow: hidden;
    white-space: nowrap;
}

.highlight .info{
    width: 132px;
    height: 12px;
    left: 3px;
    top: 110px;
    overflow: hidden;
    white-space: nowrap;
}

.same_type{
    width: 468px;
    height: 160px;
    top: 54px;
    left: 804px;
    overflow: hidden;
}

.same_type .item{
    width: 154px;
    height: 160px;
}

.same_type .focus,
.same_type .pic img{
    width: 148px;
    height: 105px;
}

.same_type .txt{
    width: 148px;
    height: 14px;
    left: 3px;
    top: 116px;
    overflow: hidden;
    white-space: nowrap;
}

.same_type .info{
    width: 148px;
    height: 12px;
    left: 3px;
    top: 140px;
    overflow: hidden;
    white-space: nowrap;
}

.recommend{
    width: 754px;
    height: 140px;
    left: 804px;
    top: 284px;
}

.recommend .item{
    width: 138px;
    height: 130px;
}

.recommend .focus,
.recommend .pic img{
    width: 132px;
    height: 76px;
}

.recommend .txt{
    width: 320px;
    height: 14px;
    left: 146px;
    top: 13px;
    overflow: hidden;
    white-space: nowrap;
}

.watch_too{
    width: 462px;
    height: 294px;
    left: 804px;
    top: 426px;
    overflow: hidden;
}

.watch_too .item{
    width: 462px;
    height: 82px;
}

.watch_too .focus,
.watch_too .pic img{
    width: 132px;
    height: 76px;
}

.watch_too .txt{
    width: 320px;
    height: 14px;
    left: 146px;
    top: 26px;
    overflow: hidden;
    white-space: nowrap;
}

.watch_too .info{
    width: 320px;
    height: 12px;
    left: 146px;
    top: 46px;
    overflow: hidden;
    white-space: nowrap;
}
