.bg{
    background: #141516;
    width: 1280px;
    height: 720px;
}

.top{
    width: 1280px;
    height: 70px;
    overflow: hidden;
    z-index: 1;
}

.logo{
    left: 25px;
    top: 36px;
    z-index: 1;
}

.logo img{
    width: 24px;
    height: 24px;
}

.logo .txt{
    white-space: nowrap;
    left: 26px;
    font-size: 22px;
    font-style:italic;
}

.navigation{
    height: 39px;
    width: 780px;
    left: 150px;
    top:28px;
    z-index: 1;
    overflow: hidden;
}

.navigation .item{
    width: 66px;
    height: 39px;
}

.navigation .focus{
    width: 60px;
    height: 33px;
    border:none;
}

.navigation .focus{
    border-radius: 7px;
    /*border: 3px #eb692c solid;*/
    background: #eb692c;
    top: 3px;
    left: 3px;
}

.navigation .item .txt{
    width: 60px;
    height: 33px;
    font-size: 16px;
    line-height: 33px;
    top: 3px;
    left: 3px;
    color: #dfeaf4;
    text-align: center;
}

.navigation .item_focus .txt{
    width: 60px;
    height: 33px;
    font-size: 23px;
    top: 3px;
    color: white;
    text-align: center;
}

.navigation .item_select .txt{
    color: #eb692c;
}

.navigation .select{
    width: 10px;
    height: 2px;
    background: #eb692c;
    top: 34px;
    left: 28px;
}

.navigation .item_focus .select,
.navigation .item .select{
    display: none;
}


.navigation .item_select .select{
    display: block;
}

.search{
    width: 175px;
    height: 30px;
    left: 950px;
    top: 32px;
}

.search .item,
.search .bg,
.search .focus{
    width: 175px;
    height: 30px;
}

.search .bg{
    background: gray;
    opacity: 0.6;
    border-radius: 15px;
}

.search .focus{
    left: 0px;
    top: 0px;
    background: #ee682a;
    border-radius: 15px;
    border: unset;
}

.search .icon{
    top: 9px;
    left: 15px;
}

.search .icon img{
    width: 11px;
    height: 11px;
}

.search .txt{
    width: 136px;
    height: 30px;
    left: 29px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    line-height: 30px;
}

.content_lib{
    width: 58px;
    height: 30px;
    left: 1140px;
    top: 32px;
}

.content_lib .item,
.content_lib .bg,
.content_lib .focus{
    width: 58px;
    height: 30px;
}

.content_lib .bg{
    background: gray;
    opacity: 0.6;
    border-radius: 15px;
}

.content_lib .focus{
    left: 0px;
    top: 0px;
    background: #ee682a;
    border-radius: 15px;
    border: unset;
}

.content_lib .txt{
    width: 58px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.delivery{
    width: 58px;
    height: 30px;
    left: 1225px;
    top: 32px;
}

.delivery .item,
.delivery .focus img,
.delivery .pic img{
    width: 20px;
    height: 20px;
}

.delivery .focus,
.delivery .pic{
    left: 0px;
    top: 5px;
    border: unset;
}

.delivery .item_focus .pic{
    display: none;
}

.frame{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}