.bg{
    background: #141516;
    width: 1280px;
    height: 720px;
}

.navigation{
    height: 33px;
    width: 780px;
    left: 150px;
    top:28px;
    z-index: 1;
    overflow: hidden;
}

.navigation .item,
.navigation .focus{
    width: 60px;
    height: 33px;
}

.navigation .focus{
    background: #606060;
    border-radius: 7px;
}

.navigation .item .txt{
    width: 60px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    top: 5px;
    color: #dfeaf4;
    text-align: center;
}

.navigation .item_focus .txt{
    width: 60px;
    height: 23px;
    font-size: 23px;
    line-height: 23px;
    top: 0px;
    color: white;
    text-align: center;
}

.navigation .select{
    width: 10px;
    height: 2px;
    background: white;
    top: 31px;
    left: 25px;
}

.navigation .item_focus .select,
.navigation .item .select{
    display: none;
}


.navigation .item_select .select{
    display: block;
}

.frame{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}