.bg{
    background: #141516;
    width: 1280px;
    height: 720px;
}

.logo{
    left: 25px;
    top: 36px;
    z-index: 1;
}

.logo img{
    width: 24px;
    height: 24px;
}

.logo .txt{
    white-space: nowrap;
    left: 26px;
    font-size: 22px;
    font-style:italic;
}

.navigation{
    height: 39px;
    width: 780px;
    left: 150px;
    top:28px;
    z-index: 1;
    overflow: hidden;
}

.navigation .item{
    width: 66px;
    height: 39px;
}

.navigation .focus{
    width: 60px;
    height: 33px;
}

.navigation .focus{
    border-radius: 7px;
    /*border: 3px #eb692c solid;*/
    background: #eb692c;
    top: 3px;
    left: 3px;
}

.navigation .item .txt{
    width: 60px;
    height: 33px;
    font-size: 16px;
    line-height: 33px;
    top: 3px;
    left: 3px;
    color: #dfeaf4;
    text-align: center;
}

.navigation .item_focus .txt{
    width: 60px;
    height: 33px;
    font-size: 23px;
    top: 3px;
    color: white;
    text-align: center;
}

.navigation .item_select .txt{
    color: #eb692c;
}

.navigation .select{
    width: 10px;
    height: 2px;
    background: #eb692c;
    top: 34px;
    left: 28px;
}

.navigation .item_focus .select,
.navigation .item .select{
    display: none;
}


.navigation .item_select .select{
    display: block;
}

.frame{
    width: 1280px;
    height: 720px;
    overflow: hidden;
}