<template>
    <div class="carousel" view-type="recycle" view-id="carousel">
        <div class="big_picture"><img view-id="big_picture"></div>
    </div>
    <div class="point_list" view-type="recycle" view-id="point_list">
        <div class="item" view-type="item">
        </div>
    </div>
    <div class="title" style="top: 506px;">
        <div class="txt">正在追</div>
    </div>
    <div class="history" view-type="recycle" view-id="history">
        <div class="item" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img view-id="pic"></div>
            <div class="txt" view-id="txt"></div>
            <div class="info" view-id="info"></div>
        </div>
    </div>
    <div class="season_hot" view-type="group">
        <div class="title">
            <div class="icon"><img src="../../images/home/recommend_fragment/season_hot_icon.png"></div>
            <div class="txt" style="left: 40px;">当季热播</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_0.png"></div>
            <div class="txt">乘风破浪 3</div>
            <div class="info">李斯助攻王心凌郑秀研合力备战</div>
        </div>
        <div class="item" style="left: 333px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_1.png"></div>
            <div class="txt">密室大逃脱4·超前聚会</div>
            <div class="info">新老玩家季节解锁邮轮密室</div>
        </div>
        <div class="item" style="left: 642px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_2.png"></div>
            <div class="txt">向往的生活6·团建企划</div>
            <div class="info">蘑菇屋一家人外出吃海鲜大餐</div>
        </div>
        <div class="item" style="left: 953px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_3.png"></div>
            <div class="txt">妻子的选择</div>
            <div class="info">飒姐独美 方糖成功拿捏高家为</div>
        </div>

        <div class="item" style="left: 22px;top: 269px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_4.png"></div>
            <div class="txt">快乐在出发·加更版 3</div>
            <div class="info">主题曲首发！0713嗨唱《活该》</div>
        </div>
        <div class="item" style="left: 333px;top: 269px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_5.png"></div>
            <div class="txt">密室大逃脱4·大神版</div>
            <div class="info">火树文韬蒲熠星解锁技能</div>
        </div>
        <div class="item" style="left: 642px;top: 269px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_6.png"></div>
            <div class="txt">向往的动物园2</div>
            <div class="info">乘风破浪 艺兴子枫变冲浪少年</div>
        </div>
        <div class="item" style="left: 953px;top: 269px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_7.png"></div>
            <div class="txt">匆匆的青春·22点播出</div>
            <div class="info">李佳航邓家佳举办校园婚礼</div>
        </div>
    </div>

    <div class="ace_program" view-type="group">
        <div class="title">
            <div class="txt">王牌节目·热爱美好生活</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_0.png"></div>
            <div class="txt">声生不息</div>
            <div class="info">港乐金曲唱演类节目</div>
        </div>
        <div class="item" style="left: 271px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_1.png"></div>
            <div class="txt">爸爸当家</div>
            <div class="info">男性全职育儿观察</div>
        </div>
        <div class="item" style="left: 520px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_2.png"></div>
            <div class="txt">向往的生活6</div>
            <div class="info">带你走进"诗和远方"</div>
        </div>
        <div class="item" style="left: 769px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_3.png"></div>
            <div class="txt">职场·法医季</div>
            <div class="info">聚焦真实法医职场</div>
        </div>
        <div class="item" style="left: 1019px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_4.png"></div>
            <div class="txt">我们的滚烫人生</div>
            <div class="info">感受不同职业体验</div>
        </div>
    </div>

    <div class="season_hot" style="top: 1745px;height: 260px;" view-type="group">
        <div class="title">
            <div class="txt">佳片剧场·烟火春春 有你有我</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_0.png"></div>
            <div class="txt">乘风破浪 3</div>
            <div class="info">李斯助攻王心凌郑秀研合力备战</div>
        </div>
        <div class="item" style="left: 333px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_1.png"></div>
            <div class="txt">密室大逃脱4·超前聚会</div>
            <div class="info">新老玩家季节解锁邮轮密室</div>
        </div>
        <div class="item" style="left: 642px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_2.png"></div>
            <div class="txt">向往的生活6·团建企划</div>
            <div class="info">蘑菇屋一家人外出吃海鲜大餐</div>
        </div>
        <div class="item" style="left: 953px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_3.png"></div>
            <div class="txt">妻子的选择</div>
            <div class="info">飒姐独美 方糖成功拿捏高家为</div>
        </div>
    </div>

    <div class="ace_program" style="top: 2024px;" view-type="group">
        <div class="title">
            <div class="txt">院线佳作·经典影片</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_0.png"></div>
            <div class="txt">声生不息</div>
            <div class="info">港乐金曲唱演类节目</div>
        </div>
        <div class="item" style="left: 271px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_1.png"></div>
            <div class="txt">爸爸当家</div>
            <div class="info">男性全职育儿观察</div>
        </div>
        <div class="item" style="left: 520px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_2.png"></div>
            <div class="txt">向往的生活6</div>
            <div class="info">带你走进"诗和远方"</div>
        </div>
        <div class="item" style="left: 769px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_3.png"></div>
            <div class="txt">职场·法医季</div>
            <div class="info">聚焦真实法医职场</div>
        </div>
        <div class="item" style="left: 1019px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_4.png"></div>
            <div class="txt">我们的滚烫人生</div>
            <div class="info">感受不同职业体验</div>
        </div>
    </div>

    <div class="season_hot" style="top: 2465px;height: 260px;" view-type="group">
        <div class="title">
            <div class="txt">纪录片·青春领航 筑梦时代</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_0.png"></div>
            <div class="txt">乘风破浪 3</div>
            <div class="info">李斯助攻王心凌郑秀研合力备战</div>
        </div>
        <div class="item" style="left: 333px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_1.png"></div>
            <div class="txt">密室大逃脱4·超前聚会</div>
            <div class="info">新老玩家季节解锁邮轮密室</div>
        </div>
        <div class="item" style="left: 642px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_2.png"></div>
            <div class="txt">向往的生活6·团建企划</div>
            <div class="info">蘑菇屋一家人外出吃海鲜大餐</div>
        </div>
        <div class="item" style="left: 953px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_3.png"></div>
            <div class="txt">妻子的选择</div>
            <div class="info">飒姐独美 方糖成功拿捏高家为</div>
        </div>
    </div>

    <div class="season_hot" style="top: 2746px;height: 260px;" view-type="group">
        <div class="title">
            <div class="icon"><img src="../../images/home/recommend_fragment/season_hot_icon.png"></div>
            <div class="txt" style="left: 40px;">大芒短视频</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_0.png"></div>
            <div class="txt">乘风破浪 3</div>
        </div>
        <div class="item" style="left: 333px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_1.png"></div>
            <div class="txt">密室大逃脱4·超前聚会</div>
        </div>
        <div class="item" style="left: 642px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_2.png"></div>
            <div class="txt">向往的生活6·团建企划</div>
        </div>
        <div class="item" style="left: 953px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_3.png"></div>
            <div class="txt">妻子的选择</div>
        </div>
    </div>
</template>