<template>
    <div class="carousel" view-type="recycle" view-id="carousel">
        <div class="big_picture"><img view-id="big_picture"></div>
    </div>
    <div class="point_list_bg"></div>
    <div class="point_list" view-type="recycle" view-left="none" view-right="none" view-id="point_list">
        <div class="item" view-type="item">
        </div>
    </div>
    <div class="title" style="top: 506px;">
        <div class="txt">正在追</div>
    </div>
    <div class="history" view-type="recycle" view-left="none" view-right="none" view-id="history">
        <div class="item" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img view-id="pic"></div>
            <div class="txt" view-id="txt"></div>
            <div class="info" view-id="info"></div>
        </div>
    </div>
    <div class="season_hot" view-type="group">
        <div class="title">
            <div class="icon"><img src="../../images/home/recommend_fragment/season_hot_icon.png"></div>
            <div class="txt" style="left: 40px;">当季热播</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_0.png"></div>
            <div class="txt">乘风破浪 3</div>
            <div class="info">李斯助攻王心凌郑秀研合力备战</div>
        </div>
        <div class="item" style="left: 333px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_1.png"></div>
            <div class="txt">密室大逃脱4·超前聚会</div>
            <div class="info">新老玩家季节解锁邮轮密室</div>
        </div>
        <div class="item" style="left: 642px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_2.png"></div>
            <div class="txt">向往的生活6·团建企划</div>
            <div class="info">蘑菇屋一家人外出吃海鲜大餐</div>
        </div>
        <div class="item" style="left: 953px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_3.png"></div>
            <div class="txt">妻子的选择</div>
            <div class="info">飒姐独美 方糖成功拿捏高家为</div>
        </div>

        <div class="item" style="left: 22px;top: 269px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_4.png"></div>
            <div class="txt">快乐在出发·加更版 3</div>
            <div class="info">主题曲首发！0713嗨唱《活该》</div>
        </div>
        <div class="item" style="left: 333px;top: 269px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_5.png"></div>
            <div class="txt">密室大逃脱4·大神版</div>
            <div class="info">火树文韬蒲熠星解锁技能</div>
        </div>
        <div class="item" style="left: 642px;top: 269px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_6.png"></div>
            <div class="txt">向往的动物园2</div>
            <div class="info">乘风破浪 艺兴子枫变冲浪少年</div>
        </div>
        <div class="item" style="left: 953px;top: 269px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/season_hot_7.png"></div>
            <div class="txt">匆匆的青春·22点播出</div>
            <div class="info">李佳航邓家佳举办校园婚礼</div>
        </div>
    </div>

    <div class="ace_program" view-type="group">
        <div class="title">
            <div class="txt">王牌节目·热爱美好生活</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_0.png"></div>
            <div class="txt">声生不息</div>
            <div class="info">港乐金曲唱演类节目</div>
        </div>
        <div class="item" style="left: 271px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_1.png"></div>
            <div class="txt">爸爸当家</div>
            <div class="info">男性全职育儿观察</div>
        </div>
        <div class="item" style="left: 520px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_2.png"></div>
            <div class="txt">向往的生活6</div>
            <div class="info">带你走进"诗和远方"</div>
        </div>
        <div class="item" style="left: 769px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_3.png"></div>
            <div class="txt">职场·法医季</div>
            <div class="info">聚焦真实法医职场</div>
        </div>
        <div class="item" style="left: 1019px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/ace_program_4.png"></div>
            <div class="txt">我们的滚烫人生</div>
            <div class="info">感受不同职业体验</div>
        </div>
    </div>

    <div class="season_hot" style="top: 1745px;height: 260px;" view-type="group">
        <div class="title">
            <div class="txt">佳片剧场·烟火春春 有你有我</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/good_film_0.png"></div>
            <div class="txt">尚食</div>
            <div class="info">许凯吴谨言携手演绎没事传奇</div>
        </div>
        <div class="item" style="left: 333px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/good_film_1.png"></div>
            <div class="txt">没有工作的一年</div>
            <div class="info">辣目洋子万鹏变"破产姐妹花"</div>
        </div>
        <div class="item" style="left: 642px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/good_film_2.png"></div>
            <div class="txt">江照黎明</div>
            <div class="info">马思纯上演自我救赎</div>
        </div>
        <div class="item" style="left: 953px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/good_film_3.png"></div>
            <div class="txt">第十二秒</div>
            <div class="info">迟到的正义终将重现于阳光之下</div>
        </div>
    </div>

    <div class="ace_program" style="top: 2024px;" view-type="group">
        <div class="title">
            <div class="txt">院线佳作·经典影片</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/cinema_line_0.png"></div>
            <div class="txt">奇迹·笨小孩</div>
            <div class="info">千玺成深圳"打工人"</div>
        </div>
        <div class="item" style="left: 271px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/cinema_line_1.png"></div>
            <div class="txt">反贪风暴5</div>
            <div class="info">坚守信念从不退缩</div>
        </div>
        <div class="item" style="left: 520px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/cinema_line_2.png"></div>
            <div class="txt">长津湖</div>
            <div class="info">穿过海东拥抱你</div>
        </div>
        <div class="item" style="left: 769px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/cinema_line_3.png"></div>
            <div class="txt">职场·法医季</div>
            <div class="info">聚焦真实法医职场</div>
        </div>
        <div class="item" style="left: 1019px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/cinema_line_4.png"></div>
            <div class="txt">悬崖之上</div>
            <div class="info">致敬至暗时的星火</div>
        </div>
    </div>

    <div class="season_hot" style="top: 2465px;height: 260px;" view-type="group">
        <div class="title">
            <div class="txt">纪录片·青春领航 筑梦时代</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/documentary_0.png"></div>
            <div class="txt">与丝路打交道的人</div>
            <div class="info">中国田野考古者揭秘丝路文明</div>
        </div>
        <div class="item" style="left: 333px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/documentary_1.png"></div>
            <div class="txt">国宝皆可潮</div>
            <div class="info">探索国宝传承与文明与文物新潮</div>
        </div>
        <div class="item" style="left: 642px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/documentary_2.png"></div>
            <div class="txt">湖湘文化入画来</div>
            <div class="info">在当代画艺中探索互相历史文化</div>
        </div>
        <div class="item" style="left: 953px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/documentary_3.png"></div>
            <div class="txt">岳麓书院</div>
            <div class="info">惟楚有材 于斯为盛</div>
        </div>
    </div>

    <div class="season_hot" style="top: 2746px;height: 260px;" view-type="group">
        <div class="title">
            <div class="icon"><img src="../../images/home/recommend_fragment/damang_icon.png"></div>
            <div class="txt" style="left: 40px;">大芒短视频</div>
        </div>
        <div class="item" style="left: 22px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/damang_0.png"></div>
            <div class="txt">生身不息吕方《朋友别哭》一场与朋友的深情对话</div>
        </div>
        <div class="item" style="left: 333px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/damang_1.png"></div>
            <div class="txt">向往的生活 武大靖自创"美榨了"榨菜三明治</div>
        </div>
        <div class="item" style="left: 642px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/damang_2.png"></div>
            <div class="txt">乘风破浪：被黄小蕾向郑秀妍解释衍生这个词时的英文翻译笑拉了</div>
        </div>
        <div class="item" style="left: 953px;top: 38px;" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img src="../../images/home/recommend_fragment/damang_3.png"></div>
            <div class="txt">"甜蜜初恋，这才是偶像剧的正确打开方式" 爱上查美乐</div>
        </div>
    </div>

    <div class="title" style="top: 3030px;">
        <div class="txt">即将上线</div>
    </div>

    <div class="coming_soon_line"></div>

    <div class="coming_soon" view-type="recycle" view-left="none" view-right="none" view-id="coming_soon">
        <div class="time" view-id="time">明天00：00</div>
        <div class="point"></div>
        <div class="poster">
            <div class="item" view-type="item">
                <div class="focus"></div>
                <div class="pic"><img view-id="pic"></div>
                <div class="txt" view-id="txt"></div>
            </div>
        </div>
        <div class="button">
            <div class="item" view-type="item">
                <div class="focus"></div>
                <div class="pic"><img src="../../images/home/recommend_fragment/button_sub.png"></div>
            </div>
        </div>
    </div>

    <div class="title" style="top: 3511px;">
        <div class="txt">猜你喜欢</div>
    </div>
</template>