<template>
    <div class="carousel" view-type="recycle" view-id="carousel">
        <div class="big_picture"><img view-id="big_picture"></div>
    </div>
    <div class="point_list_bg"></div>
    <div class="point_list" view-type="recycle" view-left="none" view-right="none" view-id="point_list">
        <div class="item" view-type="item">
        </div>
    </div>
    <div class="title" style="top: 506px;">
        <div class="txt">王牌综艺</div>
    </div>
    <div class="ace_variety r_288x162" view-type="recycle" view-id="ace_variety">
        <div class="item" view-type="item">
            <div class="focus"></div>
            <div class="pic"><img view-id="pic"></div>
            <div class="txt" view-id="txt"></div>
            <div class="info" view-id="info"></div>
        </div>
    </div>

</template>